<div id="fh5co-blog">
    <div class="container">
        <div class="row animate-box">
            <div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
                <h2>{{ category.title }}</h2>
                <p>{{ category.description }}</p>
            </div>
        </div>
        <div class="row">
            {% for article in category.articles %}
            <div class="col-md-4">
                <div class="fh5co-blog animate-box">
                    <a href="{{ path('index_article', {id: article.id}) }}" class="blog-bg" style="background-image: url({{ api.getImageUrl(article.image) }});"></a>
                    <div class="blog-text">
                        <h3><a href="{{ path('index_article', {id: article.id}) }}">{{ article.title }}</a></h3>
                        <p>{{ article.content|slice(0, 120)|raw }}</p>
                        <ul class="stuff">
                            <li><a href="{{ path('index_article', {id: article.id}) }}">Read More<i class="icon-arrow-right22"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>